.navbar {
  padding: 0.8rem 68px;
  transition: all 0.2s linear;
}
.navbar-light .navbar-nav .active>.nav-link {
  color: #2680FF;
}
.navbar-brand img {
  width: 175.21px;
  height: 37.74px;
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: white;
}
.d-block {
  height: 75vh;
}
.carousel-caption {
  margin: 0 auto;
  width: 60%;
  position: absolute;
  top: 128px;
  right: 68px;
  bottom: 68px;
  left: 68px;
  color: #FFFFFF;
}
.carousel-caption h1 {
  font-size: 54px;
  font-weight: 600;
  color: #FFFFFF;
}
.carousel-caption p {
  color: #FFFFFF;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
}
.carousel-indicators li {
  width: 11px;
  height: 11px;
  border-radius: 50%;
}
.search {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 20px 68px 20px 68px;
  width: 100%;
}
.search .input-group {
  height: calc(2.25rem + 2px);
  width: 289.99px;
}
.input-group-text {
  padding: 5px 7px;
}
.search i {
  color: #3D3D3D;
  font-size: 16px;
}
.row p.tag {
  font-size: 14px;
  line-height: 40px;
  margin: 10px 30px;
  color: #3D3D3D;
}
.row p.tag.active {
  color: #2680FF;
}
.col-md-6 {
  padding: 0;
  text-align: left;
}
.col-md-6 p, .col-md-6 h1 {
  width: 80%;
}
.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 50px 68px 50px 68px;
}
.featured-text {
  margin: 50px 0;
  width: 70%;
}
.featured-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
}
.card {
  border: none;
  margin: 0 5px;
  cursor: url(../images/cursor-hover.png), auto;
}
.card a:hover {
  text-decoration: none;
}
.card-body {
  padding: 1.25rem 0;
}
.card-tag {
  color: #2680FF;
  font-size: 11px;
  line-height: 40px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.card-title {
  color: #141204;
  font-size: 20px;
  font-weight: bolder;
  line-height: 32.36px;
  text-align: left;
}
.card-text {
  font-size: 16px;
  line-height: 27px;
  text-align: left;
  margin: 18px 0;
}
.card-date {
  color: #949494;
  font-size: 15px;
  line-height: 40px;
  margin: 0;
  text-align: left;
}
.card-img-top {
  height: 219.67px;
}
.pager {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
}
.pager li a {
  border: 1px solid #2680FF;
  border-radius: 50%;
  color: #2680FF;
  font-size: 11px;
  height: 34px;
  margin: 0 10px;
  padding: 5px 10px;
  width: 34px;
}
.pager li a.active {
  background-color: #2680FF;
  color: white;
}
.pager li a.next {
  border-radius: 19px;
  height: 38px;
  padding: 5px 15px;
  width: 122px;
  text-transform: uppercase;
}
.footer {
  background-color: #1F334F;
  color: #FFFFFF;
}
.footer h6 {
  margin: 0;
  color: #FFFFFF;
  font-size: 18px;
}
.footer p {
  color: #FFFFFF;
  font-size: 16px;
}
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  margin-bottom: 30px;
}
.subscribe input {
  border-radius: 0;
  height: 43px;
  margin: 10px 10px 0 0;
}
.subscribe .btn-blue {
  margin: 10px 10px 0 0;
}
i {
  color: #FFFFFF;
  font-size: 24px;
  margin: 15px 20px 15px 0;
}
i:hover {
  color: #2680FF;
}
.copyright {
  text-align: center;
}
.copyright p {
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: 30px;
}
@media (max-width: 950px){
  .d-block {
    height: 85vh;
  }
}
@media (max-width: 836px) {
  .d-block {
    height: 95vh;
  }
  .featured-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 60%!important;
    margin: 5px 0;
  }
  .card .card-text {
    width: 100%;
  }
}
@media (max-width: 568px) {
  .row.justify-content-between {
    justify-content: center!important;
  }
  .card {
    width: 80%!important;
  }
  .featured-text {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .navbar {
    padding: 0.8rem 18px;
  }
  .carousel-caption {
    width: 90%;
    right: 18px;
    left: 18px;
  }
  .navbar-brand img {
    width: 87px;
  }
  .jumbotron .display-4 {
    font-size: 36px;
  }
  .container {
    padding: 0 18px;
  }
  h1, .container-fluid h1 {
    font-size: 48px;
  }
  .img-fluid {
    width: 100%;
    height: 260px;
  }
  .row {
    padding: 30px 18px 10px 18px!important;
    width: 100%;
  }
  .col-md-6 p, .col-md-6 h1 {
    width: 100%;
  }
  .d-block {
    height: 100vh;
  }
  .featured {
    padding: 0 18px;
  }
  .featured-text {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .d-block {
    height: 120vh;
  }
}