.navbar-dark {
  background-color: #707070;
  padding: 0.8rem 68px;
  transition: all 0.2s linear;
}
.navbar-light {
  background-color: #FFFFFF;
  padding: 0.8rem 68px;
  transition: all 0.2s linear;
}
.navbar-dark .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: white;
}
.navbar-dark .navbar-toggler {
  color: white;
  border-color: #707070;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #2680FF;
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: white;
}
.navbar-brand img {
  width: 175.21px;
  height: 37.74px;
}
.navbar-dark a.nav-link {
  color: white!important;
  font-family: 'Montserrat', sans-serif;
  margin: auto 10px;
  padding: 0;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 0.5px;
}
.navbar-light a.nav-link {
  color: black;
  font-family: 'Montserrat', sans-serif;
  margin: auto 10px;
  padding: 0;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 0.5px;
}
.navbar-dark #contact-btn {
  background-color: #707070;
  border: 2px solid #2680FF;
  border-radius: 0;
  color: white;
  transition: 0.3s background-color;
}
.navbar-dark #contact-btn:hover {
  background-color: #2680FF;
  color: #FFFFFF;
}
.navbar-light #contact-btn {
  background-color: white;
  border: 2px solid #2680FF;
  border-radius: 0;
  transition: 0.3s background-color;
}
.navbar-light #contact-btn:hover {
  background-color: #2680FF;
  color: #FFFFFF;
}
.jumbotron {
  margin: 0;
  background-color: #707070;
  height: 100vh;
  padding: 100px 0 0 0;
  width: 100%;
}
.jumbotron .display-4 {
  font-size: 54px;
  font-weight: 600;
  color: #FFFFFF;
  margin: 30px auto;
  text-align: center;
  width: 70%;
}
.jumbotron .lead {
  color: #FFFFFF;
  margin: 30px auto;
  text-align: center;
  width: 70%;
}
.featured {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 50px 68px 50px 68px;
}
.featured h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 30px 0;
  text-align: left;
}
.featured-text {
  margin: 50px 0;
  width: 70%;
}
.featured-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
}
.card {
  border: none;
  margin: 0 5px;
  cursor: url(../images/cursor-hover.png), auto;
}
.card-body {
  padding: 1.25rem 0;
}
.card-tag {
  color: #2680FF;
  font-size: 11px;
  line-height: 40px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.card-tag:hover {
  color: #2680FF;
  text-decoration: underline;
}
.card-title {
  color: #141204;
  font-size: 20px;
  font-weight: bolder;
  line-height: 32.36px;
  text-align: left;
}
.card-text {
  font-size: 16px;
  line-height: 27px;
  text-align: left;
  margin: 18px 0;
}
.card-date {
  color: #949494;
  font-size: 15px;
  line-height: 40px;
  margin: 0;
  text-align: left;
}
.card-img-top {
  height: 219.67px;
}
.col-md {
  padding: 0!important;
  margin: 0 auto;
  text-align: center;
}
.col-md .img-fluid {
  width: 70%;
}
.col-md h2 {
  font-size: 28px;
  line-height: 34px;
  margin: 30px auto;
  text-align: left;
  width: 70%;
}
.col-md p {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  line-height: 34px;
  margin: 30px auto;
  text-align: left;
  width: 70%;
}
.col-md-6 {
  text-align: left;
}
.author {
  border: 1px solid #F0F0F0;
  display: flex;
  margin: 20px auto;
  padding: 15px 10px;
  width: 40%;
}
.author img {
  width: 129px;
  height: 129px;
  border-radius: 50%;
}
.author-dets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  width: 100%;
}
.author-dets .author-name {
  color: #2E343D;
  font-size: 14px;
  line-height: 2.08;
  letter-spacing: 0.4px;
  margin: 5px 0;
  text-align: left;
}
.author-dets .date-pub {
  color: #AFAFAF;
  font-size: 14px;
  font-style: italic;
  margin: 5px 0;
  text-align: left;
}
.author-dets .author-role {
  color: #808080;
  font-size: 14px;
  line-height: 1.62;
  letter-spacing: 0.4px;
  text-align: left;
  margin: 5px 0;
}
button.tags {
  margin: 5px 10px;
  width: 210px;
  height: 40px;
  border: 1px solid #707070;
  background-color: #FFFFFF;
}
.pager {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
}
.pager li a {
  border: 1px solid #2680FF;
  border-radius: 50%;
  color: #2680FF;
  font-size: 11px;
  height: 34px;
  margin: 0 10px;
  padding: 5px 10px;
  width: 34px;
}
.pager li a.active {
  background-color: #2680FF;
  color: white;
}
.pager li a.next {
  border-radius: 19px;
  height: 38px;
  padding: 5px 15px;
  width: 122px;
  text-transform: uppercase;
}
.footer {
  background-color: #1F334F;
  color: #FFFFFF;
}
.footer h6 {
  margin: 0;
  color: #FFFFFF;
  font-size: 18px;
}
.footer p {
  color: #FFFFFF;
  font-size: 16px;
}
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  margin-bottom: 30px;
}
.subscribe input {
  border-radius: 0;
  height: 43px;
  margin: 10px 10px 0 0;
}
.subscribe .btn-blue {
  margin: 10px 10px 0 0;
}
i {
  color: #FFFFFF;
  font-size: 24px;
  margin: 15px 20px 15px 0;
}
i:hover {
  color: #2680FF;
}
.copyright {
  text-align: center;
}
.copyright p {
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: 30px;
}
@media (max-width: 991px){
  a.nav-link {
    margin: 10px 0!important;
  }
}
@media (max-width: 836px) {
  .featured-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 60%!important;
    margin: 5px 0;
  }
  .author {
    width: 50%;
  }
}
  @media (max-width: 767px) {
    .jumbotron .display-4 {
      font-size: 48px;
      width: 85%;
    }
    .jumbotron p.lead {
      font-size: 20px;
      width: 85%;
    }
    .container {
      padding: 0 36px!important;
    }
    .row {
      padding: 100px 36px 50px 36px;
    }
    .col-md p, .col-md h2{
      width: 85%;
    }
    .img-fluid {
      height: 420px;
      width: 100%;
    }
    .author {
      width: 60%;
    }
  }
  @media (max-width: 568px){
    .author {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
    }
    .author-dets {
      margin: 15px 0 0 0;
      width: 95%;
    }
    .row {
      padding: 50px 18px 50px 18px!important;
    }
    .row.justify-content-between {
      justify-content: center!important;
    }
    .col-md p {
      font-size: 18px;
    }
    .card {
      width: 80%!important;
    }
    .featured-text {
      width: 90%;
    }
  }
  @media (max-width: 500px) {
    .navbar {
      padding: 0.8rem 18px;
    }
    .navbar-brand img {
      width: 87px;
    }
    .jumbotron .display-4 {
      font-size: 36px;
      width: 95%;
    }
    .jumbotron p.lead {
      font-size: 20px;
      width: 95%;
    }
    .container {
      padding: 0 18px!important;
    }
    h1, .container-fluid h1 {
      font-size: 48px;
    }
    .col-md p, .col-md h2{
      width: 95%;
    }
    .img-fluid {
      width: 100%;
      height: 260px;
    }
    .featured {
      padding: 0 18px;
    }
    .featured-text {
      width: 100%;
    }
  }
  @media (max-width: 350px) {
    .jumbotron .display-4 {
      font-size: 36px;
    }
    .container-fluid h1 {
      font-size: 36px;
    }
    .tags-container {
      flex-direction: column;
    }
  }