.navbar {
  padding: 0.8rem 68px;
  transition: all 0.2s linear;
}
.navbar-nav .active >.nav-link {
  color: #2680FF;
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: white;
}
.jumbotron {
  margin: 0;
  padding-top: 100px;
  background-color: #707070;
  height: 100vh;
}
.jumbotron .display-4 {
  font-size: 60px;
  color: #FFFFFF;
}
.jumbotron .lead {
  color: #FFFFFF;
}
.projects {
  overflow: hidden;
  width: 500px;
  height: 510px;
  position: relative;
  margin: 5px;
  cursor: url(../images/cursor-hover.png), auto;
}
.projects div {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  transition: opacity ease-in 0.4s;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}
.projects h1 {
  color: white;
}
.col-md {
  padding: 0;
  text-align: center;
}
.col-md p {
  margin: 30px auto;
  width: 70%;
}
.col-md-6 {
  text-align: left;
}
.col-md-6 span {
  color: #6484B1;
  font-size: 20px;
  float: right;
}
label::after {
  content: '*';
  color: red;
}
.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 100px 68px 50px 68px;
}
.featured-text {
  margin: 50px 0;
  width: 70%;
}
.featured-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
}
.card {
  border: none;
  margin: 0 5px;
  cursor: url(../images/cursor-hover.png), auto;
}
.card-text {
  font-size: 16px;
  line-height: 25px;
  margin: 30px 0;
}
.card-img-top {
  height: 219.67px;
}
.card-link {
  color: #2680FF;
}
.card-link i {
  color: #2680FF;
  font-size: 15px;
}
.footer {
  background-color: #1F334F;
  color: #FFFFFF;
}
.footer h6 {
  margin: 0;
  color: #FFFFFF;
  font-size: 18px;
}
.footer p {
  color: #FFFFFF;
  font-size: 16px;
}
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  margin-bottom: 30px;
}
.subscribe input {
  border-radius: 0;
  height: 43px;
  margin: 10px 10px 0 0;
}
.subscribe .btn-blue {
  margin: 10px 10px 0 0;
}
i {
  color: #FFFFFF;
  font-size: 24px;
  margin: 15px 20px 15px 0;
}
i:hover {
  color: #2680FF;
}
.copyright {
  text-align: center;
}
.copyright p {
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: 30px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  } 
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  } 
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media (max-width: 936px) {
  .featured-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 60%!important;
    margin: 5px 0;
  }
  .card-text {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 36px!important;
  }
  .row {
    padding: 100px 36px 50px 36px!important;
  }
  .col-md p {
    width: 80%;
  }
  .projects {
    height: 420px;
  }
  .img-fluid {
    height: 420px;
    width: 100%;
  }
}
@media (max-width: 568px){
  .row {
    padding: 50px 18px 50px 18px!important;
  }
  .row.justify-content-between {
    justify-content: center!important;
  }
  .col-md p {
    width: 90%;
  }
  .projects {
    width: 100%;
  }
  .card {
    width: 80%!important;
  }
  .card {
    width: 80%!important;
  }
  .featured-text {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .navbar {
    padding: 0.8rem 18px;
  }
  .navbar-brand img {
    width: 87px;
  }
  .jumbotron .display-4 {
    font-size: 48px;
  }
  .container {
    padding: 0 18px!important;
  }
  .container-fluid h1 {
    font-size: 36px!important;
  }
  p.lead {
    font-size: 16px;
  }
  .col-md p {
    width: 100%;
  }
  .projects {
    height: 260px;
  }
  .img-fluid {
    height: 260px;
  }
  .featured {
    padding: 0 18px;
  }
  .featured-text {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .jumbotron .display-4 {
    font-size: 36px;
    line-height: 56px;
  }
  .container-fluid h1 {
    font-size: 36px;
    line-height: 56px;
  }
}