html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  cursor: url(../images/cursor.png), auto;
}
.affix {
  top: -80px;  
}
.bg-light {
  background-color: #ffffff!important;
}
.bg-light-grey {
  background-color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif!important;
}
h1 {
  color: #141204;
  line-height: 72px;
  margin: 30px 0;
}
h2 {
  color: #141204;
  line-height: 34px;
  margin: 30px 0;
}
p, span, a {
  color: #091F3E;
  font-family: 'Open Sans', sans-serif;
}
p {
  color: #091F3E;
  font-size: 18px;
  line-height: 31px;
  margin: 30px 0;
}
.container {
  margin: 0;
  padding: 0 68px;
}
.container h1 {
  font-weight: 500;
}
.container-fluid {
  padding: 0;
  text-align: center;
}
.container-fluid h1 {
  font-size: 54px;
}
.row {
  margin: 0;
  padding: 100px 68px 50px 68px;
  width: 100%;
}
.img-fluid {
  width: 500px;
  height: 510px;
  margin: 50px 10px 50px 10px;
  transition: transform 0.6s;
  cursor: url(../images/cursor-hover.png), auto;
}
.navbar-brand, .nav-item, .nav-link, 
.btn:not(:disabled):not(.disabled), a:link, a:hover {
  cursor: url(../images/cursor-hover.png), auto;
}
a.nav-link {
  margin: auto 10px;
  padding: 0;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 0.5px;
}
.btn-blue {
  margin: 30px 0;
  border: none;
  border-radius: 0;
  background-color: #2680FF;
  color: #FFFFFF;
  width: 196px;
  height: 43px;
}
.btn-blue:hover {
  background-color: white;
  border: 1px solid #2680FF;
  color: black;
}
.btn-white {
  background-color: white;
  border: 2px solid #2680FF;
  border-radius: 0;
  transition: 0.3s background-color;
}
.btn-white:hover {
  background-color: #2680FF;
  color: #FFFFFF;
}
.form-group input, .form-group textarea {
  border-radius: 0;
  background-color: #FCFCFC;
}
.form-group input:focus, .form-group textarea:focus {
  background-color: #FCFCFC;
}
@media (max-width: 991px){
  a.nav-link {
    margin: 10px 0;
  }
}