html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  cursor: url(../images/cursor.png), auto;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 54px;
  line-height: 72px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
  font-weight: bolder;
  letter-spacing: 0.5px;
  line-height: 60.9px;
  text-align: left;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 110px;
  text-align: left;
}
h6 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 110px;
  text-align: left;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 31px;
  text-align: left;
}
.bg-light {
  background-color: #ffffff!important;
  color: #141204!important;
}
.bg-nav {
  background-color: #707070;
}
.affix {
  top: -80px;  
 }
.navbar-dark {
  background-color: #707070;
  padding: 0.8rem 68px;
  transition: all 0.2s linear;
}
.navbar-light {
  background-color: #FFFFFF;
  padding: 0.8rem 68px;
  transition: all 0.2s linear;
}
.navbar-dark .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: white;
}
.navbar-dark .navbar-toggler {
  color: white;
  border-color: #707070;
}
.navbar-light .navbar-nav .active>.nav-link {
  color: #2680FF;
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: white;
}
.navbar-brand img {
  width: 175.21px;
  height: 37.74px;
}
.navbar-dark a.nav-link {
  color: white!important;
  font-family: 'Montserrat', sans-serif;
  margin: auto 10px;
  padding: 0;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 0.5px;
}
.navbar-light a.nav-link {
  color: black;
  font-family: 'Montserrat', sans-serif;
  margin: auto 10px;
  padding: 0;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 0.5px;
}
.navbar-brand, .nav-item, .nav-link, 
.btn:not(:disabled):not(.disabled), a:link, a:hover {
  cursor: url(../images/cursor-hover.png), auto;
}
.navbar-dark #contact-btn {
  background-color: #707070;
  border: 2px solid #2680FF;
  border-radius: 0;
  color: white;
  transition: 0.3s background-color;
}
.navbar-dark #contact-btn:hover {
  background-color: #2680FF;
  color: #FFFFFF;
}
.navbar-light #contact-btn {
  background-color: white;
  border: 2px solid #2680FF;
  border-radius: 0;
  transition: 0.3s background-color;
}
.navbar-light #contact-btn:hover {
  background-color: #2680FF;
  color: #FFFFFF;
}
.jumbotron {
  margin: 0;
  background-color: #707070;
  min-height: 100vh;
}
.jumbotron .display-4 {
  margin: 100px 0 30px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: #FFFFFF;
  width: 60%;
  text-align: left;
}
.jumbotron .lead {
  margin: 30px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 38.83px;
  color: #FFFFFF;
  width: 70%;
  text-align: left;
}
.jumbotron .img-fluid {
  width: 288px;
  height: 533px;
}
.container {
  margin: 0;
  padding: 0;
  max-width: 100%!important;
}
.container-fluid {
  background-color: #FCFCFC;
  padding: 0;
}
.container-fluid h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 54px;
  color: #141204;
  margin: 0;
}
.container-fluid p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #091F3E;
  margin: 0;
}
.contain {
  color: #FFFFFF;
  padding: 50px 68px 50px 68px;
  position: static; 
  text-align: left;
}
.task {
  background: url(../images/demo4.jpeg) no-repeat fixed 100%;
}
.contain p {
  margin-bottom: 30px;
}
#google-play-button {
  width: 170.96px;
  height: 56.02px;
}
.img-fluid {
  width: 318px;
  height: 513px;
  cursor: url(../images/cursor-hover.png), auto;
}
.section {
  background-color: #6E6E6E;
  color: #FFFFFF;
}
.section p {
  color: #FFFFFF;
}
.row {
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 30px 68px 30px 68px;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}
.row-reverse {
  align-items: flex-start;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 0;
  padding: 30px 68px 30px 68px;
  width: 100%;
  text-align: left;
}
.row-reverse .row-desc, .row-reverse .row-prov {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
}
.row .row-desc {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
}
.row .row-prov {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
}
.row-prov p {
  text-align: left;
  font-size: 26px;
  font-weight: normal;
  line-height: 42.07px;
  margin: 0 0 10px 0;
  width: 70%;
}
label::after {
  content: '*';
  color: red;
}
.form-group input, .form-group textarea {
  border-radius: 0;
  width: 353px;
}
.form-check-label {
  font-size: 16px;
  width: 353px;
}
form .btn {
  margin: 30px 0;
  border: none;
  border-radius: 0;
  background-color: #2680FF;
  color: #FFFFFF;
  width: 210px;
  height: 48px;
}
.footer {
  background-color: #1F334F;
  color: #FFFFFF;
}
.footer h6 {
  margin: 0;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 48px;
  text-align: left;
}
.footer p {
  margin: 0 0 30px 0;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 27px;
  width: 70%;
}
.subscribe {
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.subscribe input {
  border-radius: 0;
  margin-right: 10px;
}
.footer a i {
  color: #FFFFFF;
  width: 36px;
  height: 36px;
  font-size: 24px;
  margin: 30px 0;
}
.copyright {
  text-align: center;
}
.copyright p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: 30px;
}
@media (max-width: 991px){
  .navbar-dark a.nav-link, .navbar-light a.nav-link {
    margin: 10px 0;
  }
}
@media (max-width: 950px){
  .row-reverse, .row {
    padding: 30px 36px 20px 36px;
    margin: 0;
  }
  .row .row-desc, .row .row-prov {
    width: 50%;
  }
  .row-reverse .row-desc, .row-reverse .row-prov {
    width: 50%;
  }
  .w-100 {
    height: 75vh;
  }
}
@media (max-width: 836px) {
  .row-desc p, .row-desc h1 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .jumbotron .display-4 {
    font-size: 48px;
  }
  .jumbotron p.lead {
    font-size: 20px;
    width: 85%;
  }
  .row, .row-reverse {
    flex-direction: column;
    width: 100%;
    text-align: left;
  }
  .row .row-desc, .row .row-prov {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .footer .row .row-desc, .footer .row .row-prov {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .row-reverse .row-desc, .row-reverse .row-prov {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .navbar {
    padding: 0.8rem 18px;
  }
  .navbar-brand img {
    width: 87px;
  }
  .jumbotron .display-4 {
    font-size: 36px;
    width: 95%;
  }
  .jumbotron p.lead {
    font-size: 20px;
    width: 95%;
  }
  .container {
    padding: 0 18px;
  }
  .contain {
    padding: 0 18px;
  }
  h1, .container-fluid h1 {
    font-size: 48px;
  }
  .row, .row-reverse {
    padding: 30px 18px 10px 18px;
    width: 100%;
  }
  .w-100 {
    height: 90vh;
  }
}
@media (max-width: 350px) {
  .jumbotron .display-4 {
    font-size: 36px;
  }
  .container-fluid h1 {
    font-size: 36px;
  }
}