.navbar {
  padding: 0.8rem 68px;
  transition: all 0.2s linear;
}
.navbar-light .navbar-nav .active>.nav-link {
  color: #2680FF;
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: white;
}
.jumbotron {
  margin: 0;
  background-color: #707070;
  height: 90vh;
}
.jumbotron .display-4 {
  font-size: 60px;
  color: #FFFFFF;
}
.jumbotron .lead {
  color: #FFFFFF;
}
.col-md-6 {
  padding: 0;
  text-align: left;
}
.col-md-6 p, .col-md-6 h1 {
  width: 80%;
}
.footer {
  background-color: #1F334F;
  color: #FFFFFF;
}
.footer h6 {
  margin: 0;
  color: #FFFFFF;
  font-size: 18px;
}
.footer p {
  color: #FFFFFF;
  font-size: 16px;
}
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  margin-bottom: 30px;
}
.subscribe input {
  border-radius: 0;
  height: 43px;
  margin: 10px 10px 0 0;
}
.subscribe .btn-blue {
  margin: 10px 10px 0 0;
}
i {
  color: #FFFFFF;
  font-size: 24px;
  margin: 15px 20px 15px 0;
}
i:hover {
  color: #2680FF;
}
.copyright {
  text-align: center;
}
.copyright p {
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: 30px;
}
@media (max-width: 836px) {
  .jumbotron {
    padding: 0;
  }
  .jumbotron h1.display-4 {
    margin-top: 0;
    padding-top: 20px;
  }
  .img-fluid {
    margin-top: 30px;
    width: 100%;
  }
  .subscribe {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 36px!important;
  }
  .row {
    padding: 100px 36px 50px 36px;
  }
  .col-md-6 p, .col-md-6 h1 {
    width: 100%;
  }
  .img-fluid {
    height: 420px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .navbar {
    padding: 0.8rem 18px;
  }
  .navbar-brand img {
    width: 87px;
  }
  .jumbotron .display-4 {
    font-size: 48px;
  }
  .container {
    padding: 0 18px!important;
  }
  .container-fluid h1 {
    font-size: 36px;
  }
  .img-fluid {
    width: 100%;
    height: 260px;
  }
  .row {
    padding: 30px 18px 10px 18px;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .jumbotron .display-4 {
    font-size: 36px;
  }
  .container-fluid h1 {
    font-size: 36px;
  }
}