html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  cursor: url(../images/cursor.png), auto;
}
p {
  font-weight: normal;
}
.header {
  position: relative; 
  display: flex; 
  align-items: center;
  justify-content:center;
}
.logo {
  position: absolute;
  top: 26px;
  left: 36px;
  width: 150px;
  height: 48px;
}
.jumbotron {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  min-height: 100vh;
}
.jumbotron .container .row {
  padding: 0 36px;
}
.jumbotron .display-4 {
  margin: 120px 0 30px 0;
  font-size: 81px;
  font-weight: bold;
  color: #0f1014;
  line-height: 1.15;
  text-align: left;
}
.jumbotron .lead {
  margin: 30px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  line-height: 48.83px;
  width: 100%;
  color: #1a1313;
  text-align: left;
}
#hero {
  margin-top: 80px;
  background-repeat: no-repeat; 
  background-position: top right;
}
#hero img {
  width: 720px;
  height: 620px;
}
.container {
  margin: 0;
  padding: 0;
  max-width: 100%!important;
}
.container-fluid {
  background-color: #FFFFFF;
  padding: 0;
}
img.store-button {
  width: 160.96px;
  height: 60.02px;
  margin: 5px;
}
.row {
  padding: 100px 68px 100px 68px;
}
.col-md, .col-md-6 {
  padding: 0 10px;
}
.col-md-6 h6, .col-md h6 {
  font-size: 52px;
  font-weight: bolder;
  line-height: 1.25;
  margin: 20px 0;
  width: 70%;
}
.col-md-6 p, .col-md p {
  font-size: 20px;
  line-height: 1.62;
  width: 80%;
}
label::after {
  content: '*';
  color: red;
}
.footer input[type=text] {
  padding: 0 10px;
  border-radius: 0;
  border: none;
  outline: none;
  height: 45px;
  width: 353px;
}
.footer input:focus {
  border: none;
  outline: none;
}
.footer {
  background-color: #171515;
  padding: 30px 0;
}
.footer h6 {
  color: #FFFFFF;
  font-size: 24px;
  margin-top: 20px;
}
.footer p {
  color: #FFFFFF;
  margin-top: 10px;
  font-size: 14px;
}
.footer a, .footer i {
  margin: 5px;
  color: #FFFFFF;
}
.footer button {
  background-color: #db0e0e;
  color: #FFFFFF;
  margin: 15px 0;
  width: 144px;
  height: 45px;
  border: none;
  outline: none;
}
.copyright {
  text-align: center;
}
.copyright p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: 30px;
}
@media (max-width: 1039px) {
  #hero img {
    width: 600px;
    height: 550px;
  }
}
@media (max-width: 900px) {
  #hero img {
    width: 500px;
    height: 550px;
  }
}
@media (max-width: 767px) {
  #hero {
    margin-top: 150px;
  }
  #hero img {
    width: 570px;
    height: 540px;
  }
  .jumbotron .display-4 {
    font-size: 48px;
  }
  .jumbotron p.lead {
    font-size: 20px;
    width: 85%;
  }
  .row {
    padding: 100px 36px;
  }
}
@media (max-width: 500px) {
  #hero img {
    width: 470px;
    height: 440px;
  }
  .jumbotron .display-4 {
    font-size: 36px;
  }
  .jumbotron p.lead {
    font-size: 18px;
  }
  .row {
    padding: 50px 18px;
  }
}
@media (max-width: 400px) {
  #hero img {
    width: 360px;
    height: 330px;
  }
  .jumbotron .display-4 {
    width: 70%;
    margin: 100px auto 30px auto;
    text-align: center;
    font-size: 30px;
  }
  .jumbotron .lead {
    width: 70%;
    margin: 30px auto;
    text-align: center;
  }
  .footer input[type=text] {
    width: 200px;
  }
  .jumbotron .container .row {
    padding: 0 8px;
  }
  .container-fluid h1 {
    font-size: 36px;
  }
  .col-md-6 h6, .col-md h6 {
    margin: 30px auto;
    font-size: 22px;
    text-align: center;
  }
  .col-md p, .col-md-6 p {
    margin: 30px auto;
    text-align: center;
  }
  .footer h6, .footer p {
    width: 100%;
    text-align: left;
  }
}
@media (max-width: 360px) {
  #hero img {
    width: 300px;
    height: 270px;
  }
}